<section id="questions">
    <h2 class="sr-only">Perguntas da comunidade</h2>
    <div class="questions">

        <% questions.forEach(question => { %>
            <% if (question.read == 0) { %>
                <div class="sr-only">
                    <p id="userId" data-id="<%-userId%>"></p>
                </div>
                <div class="question-wrapper">
                    <div class="question-content">
                        <div class="user">
                            <img src="/images/user.svg" alt="Avatar">
                        </div>
                        <div class="question">
                            <p><%= question.title %> </p>
                        </div>
                    </div>
                    <div class="actions questions">
                        <a href="#" class="check" data-id="<%= question.id %>">
                            <img src="/images/check.svg" alt="Marcar como lida">
                            Marcar como lida
                        </a>
                        <a href="#" class="delete" data-id="<%= question.id %>">
                            <img src="/images/trash.svg" alt="Excluir">
                            Excluir
                        </a>
                    </div>
                    <div class="answer-wrapper">
                        <div id="line"></div>
                        <section id="answer-form">
                            <h2>Responder</h2>
                            <form action="/question/create/<%= roomId %>/<%= userId %>/<%= question.id %> " method="POST"">
                                <label class="sr-only" for-id="answer">Digite sua resposta</label>
                                <textarea name="answer" id="answer" placeholder="Digite sua resposta"></textarea>
                                <footer>
                                    <button>></button>
                                </footer>
                            </form>
                        </section>
                        <section id="answers">
                            <% answers.forEach(answer => { %>
                                <% if (answer.questionId == question.id) { %>
                                    <div class="answers-content">
                                        <p><%=answer.text%></p>
                                        <div class="actions">
                                            <a href="#" class="delete answer" id="answerId" data-id="<%= answer.answerId %>">
                                                <img src="/images/trash.svg" alt="Excluir">
                                                Excluir
                                            </a>
                                        </div>    
                                    </div>
                                <% } %>
                            <% }); %> 
                        </section>
                    </div>
                </div>
            <% } %>
            
        <% }); %> 

        <% questionsRead.forEach(question => { %>
            <% if (question.read == 1) { %>
                <div class="sr-only">
                    <p id="userId" data-id="<%-userId%>"></p>
                </div>
                <div class="question-wrapper read">
                    <div class="question-content">
                        <div class="user">
                            <img src="/images/user.svg" alt="Avatar">
                        </div>
                        <div class="question">
                            <p><%= question.title %> </p>
                        </div>
                    </div>
                    <div class="actions questions">
                        <a href="#" class="delete" data-id="<%= question.id %>">
                            <img src="/images/trash.svg" alt="Excluir">
                            Excluir
                        </a>
                    </div>
                    <div class="answer-wrapper">
                        <div id="line"></div>
                        <section id="answer-form">
                            <h2>Responder</h2>
                            <form action="/question/create/<%= roomId %>/<%= userId %>/<%= question.id %> " method="POST"">
                                <label class="sr-only" for-id="answer">Digite sua resposta</label>
                                <textarea name="answer" id="answer" placeholder="Digite sua resposta"></textarea>
                                <footer>
                                    <button>></button>
                                </footer>
                            </form>
                        </section>
                        <section id="answers">
                            <% answers.forEach(answer => { %>
                                <% if (answer.questionId == question.id) { %>
                                    <div class="answers-content">
                                        <p><%=answer.text%></p>
                                        <div class="actions">
                                            <a href="#" class="delete answer" id="answerId" data-id="<%= answer.answerId %>">
                                                <img src="/images/trash.svg" alt="Excluir">
                                                Excluir
                                            </a>
                                        </div>    
                                    </div>
                                <% } %>
                            <% }); %> 
                        </section>
                    </div>
                </div>
            <% } %>
        <% }); %> 

    </div>
</section>